body {
    background-color: #e3e6e6;
}


.outerMain {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main {
    position: absolute;
    width: 100%;
    max-width: 1515px;
    height: clamp(8rem, 50vw, 38rem);
    background-size: cover;
    background-position: center;
}

.mainOverlay {
    position: absolute;
    height: clamp(8rem, 50vw, 38rem);
    width: 100%;
    max-width: 1515px;
}

.mainBanner {
    position: relative;
    padding: 0 1.5vw;
    height: auto;
    width: 100%;
    max-width: 1515px;
}

.mainArrowSwitch {
    display: flex;
    justify-content: space-between;
}

.mainArrows {
    border: 2px solid transparent;
    height: clamp(0rem, 22vw, 16rem);
    width: clamp(0rem, 8vw, 6rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainArrows:hover {
    border-color: rgb(230, 230, 230);
}

.mainArrows svg {
    width: 4vw;
    height: 6vw;
}

.bannerText {
    height: clamp(0.2rem,3.5vw, 2.5rem);
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bannerText p {
    color: black;
    font-weight: 500; 
    font-size: clamp(0rem, 1.2vw, 0.9rem);
}

.bannerText a {
    color: #007185;
    text-decoration: none;
    transition: color 0.2s ease;
}
  
.bannerText a:hover {
    color: #003c46;
    text-decoration: underline;
}

.shoppingSection {
    padding-top: 1.4vw;
    display: grid;
    gap: clamp(0rem, 1.3vw, 1.9rem);
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
}

.shoppingSection1 {
    background-color: white;
    width: 100%;
    height: 41vw;
    margin: 0 auto;
    padding: clamp(0rem, 2vw, 2rem);
}

.potsFont {
    width: 72px;
    white-space: nowrap;   
    text-overflow: ellipsis;   
    overflow: hidden;             
}

@media (min-width: 1200px) {
    .shoppingSection {
      grid-template-columns: repeat(4, 1fr);

    }
    .shoppingSection1 {
        height: 420px;
    }

}

.shoppingSectionUpperFont {
    font-weight: bold;
    font-size: clamp(0rem, 1.9vw, 1.3rem);
}

.shoppingSectionMediumFont {
    font-weight: 540;
    font-size: clamp(0rem, 1.2vw, 0.9rem); 

}

.shoppingSectionLowerFont {
    font-weight: 520;
    font-size: clamp(0rem, 1.08vw, 0.7rem); 
}

.categoryCard {
    cursor: pointer;
}

.innerSectionImg1 {
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.innerSectionImg11 {
    display: flex;
    gap: 1.5vw;
}

.innerSectionImg111 {
    height: 14.5vw;
    width: 100%;
}

.shoppingImges {
    height: 70%;
    width: 100%;
}

@media (min-width: 1108px) {
    .innerSectionImg111 {
        height: 15.9vw;

    }
}

.innerSectionImg911 {
    height: 14.5vw;
    width: 100%;
}

@media (min-width: 1200px) {
    .innerSectionImg1 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .innerSectionImg111 {
        height: 8.4rem; 
    }

    .innerSectionImg911 {
        height: 8.4rem; 
    }
}

.innerSectionImg211 {
    height: 15.8vw;
    width: 100%;
}


@media (min-width: 1200px) {
    .innerSectionImg211 {
        height: 9.3rem;
    }

    .shoppingSection9 {
        display: none;
    }
}

@media (max-width: 1200px) {
    .extraSlot {
        display: none;
    }
}

.innerSectionTotalImg {
    background-size: cover;
    background-position: center;
    margin-top: 1vw;
    margin-bottom: 2.7vw;
    height: 79%;
}

@media (min-width: 1200px) {
    .innerSectionTotalImg {
        margin-bottom: clamp(0rem, 2.5vw, 1.6rem);
    }
}

.innerSectionImg311 {
    height: 18vw;
    width: 100%;
}

.diffShoppingImge311 {
    height: 80%;
    width: 100%;
}

.innerSectionImg32 {
    display: flex;
    gap: 0.3vw;
    margin-bottom: clamp(0.4rem, 3vw, 10rem);
}

.innerSectionImg312 {
    width: 100%;
    height: clamp(0rem, 9vw, 10rem);
}

.diffShoppingImges {
    height: 90%;
    width: 100%;
}

@media (min-width: 1200px) {
    .innerSectionImg311 {
        height: 11rem; 
    }

    .innerSectionImg32 {
        margin-bottom: 2rem;
    }

    .innerSectionImg312 {
        height: 5rem;
    }
}


.scrollShopping {
    background-color: white;
    width: 100%;
    height: clamp(0rem, 28vw, 16rem);
    margin-top: 1.3vw;
    padding: clamp(0rem, 2vw, 2rem);
}

.ShoppingImageScroll {
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
    gap: clamp(0rem, 1.1vw, 0.8rem);
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
}

.ShoppingImageScroll::-webkit-scrollbar {
    display: none;             /* Chrome, Safari, Opera */
}

.scrollInnerImg {
    max-width: clamp(0rem, 20vw, 11rem);
}

.scrollInnerImg2 {
    max-height: clamp(0rem, 20vw, 11rem);
}

/*extra pages*/

.extraPage {
    height: auto;
    width: 100%;
    max-width: 1515px;
    /* display: none; */
}

/*onSearch*/

.ProductUpperFont {
    color: white;
    font-weight: 580;
    font-size: clamp(0rem, 1.5vw, 1rem);
}

.ProductMediumFont {
    font-weight: 540;
    font-size: clamp(0rem, 1.6vw, 0.9rem); 
}

.ProductLowererFont {
    color: rgb(59, 59, 59);
    font-weight: 540;
    font-size: clamp(0rem, 1.1vw, 0.7rem);
}

.searchProductDisplay {
    padding: 1.5vw;
    display: grid;
    gap: clamp(0rem, 1vw, 0.4rem);
    grid-template-columns: repeat(4, 1fr);
}

@media (min-width: 1250px) {
    .searchProductDisplay {
    grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 1500px) {
    .searchProductDisplay {
    grid-template-columns: repeat(6, 1fr);
    }
}

.productCard {
    border: 1.5px solid rgb(246, 246, 246);
    border-radius: 0.5vw;
}

.product-image {
    width: 100%;
    height: auto;
    max-height: 13rem;
}

.product-title {
  display: -webkit-box;
  -webkit-line-clamp: 4;     /* Limit to 4 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


.innerProductCard {
    padding: 0.5vw;
    display: flex;
    flex-direction: column;
    gap: clamp(0rem, 1vw, 0.8rem);
}

.current-price {
    font-size: clamp(0rem, 2vw, 2rem);
}

.add-to-cart {
    border: none;
    width: fit-content;
    padding: clamp(0rem, 0.8vw, 0.4rem);
    padding-left: clamp(0rem, 1.3vw, 1rem);
    padding-right: clamp(0rem, 1.3vw, 1rem);
    background-color: #FFD814;
    color: black;
    border-radius: clamp(0rem, 2vw, 1.2rem);
}


/* cartPage */

.cartUpperFont {
    font-weight: bold;
    font-size: clamp(0rem, 2.2vw, 1.8rem);
}

.cartMediumFont {
    font-weight: 500;
    font-size: clamp(0rem, 1.5vw, 0.8rem); 
}

.cartLowerFont {
    font-weight: 500;
    font-size: clamp(0rem, 1.2vw, 0.7rem);
}

#cartPage {
    display: flex;
    flex-direction: column-reverse;
    padding: clamp(0rem, 1.5vw, 1rem);
    gap: clamp(0rem, 2.2vw, 0.9rem);
}

.outerCartItems {
    background-color: white;
    min-height: clamp(0rem, 13vw, 7rem);
    padding: 2vw;
    display: flex;
    flex-direction: column;
    gap: clamp(0rem, 1vw, 0.9rem);
    flex: 1;
}

.cartItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cartItemCard {
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-bottom: 2px solid rgb(239, 238, 238);
    display: flex;
    gap: clamp(0rem, 1.4vw, 1.2rem);
    align-items: center;
}

.outerImageDiv {
    width: clamp(0rem, 20vw, 12rem);
}

#itemImage {
    max-width: 100%;
    
}

.content {
    flex: 1;
}

.upper {
    display: flex;
    justify-content: space-between;

}

#upperLeft {
    display: flex;
    flex-direction: column;
    gap: clamp(0rem, 0.5vw, 0.3rem);
    padding-right: clamp(0rem, 1vw, 1.2rem);
}

.giftLabel {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: clamp(0.7rem, 1vw, 0.9rem);
    line-height: 1;
}

.giftLabel input {
    width: clamp(0.2rem, 1vw, 1rem);
    height: clamp(0.2rem, 1vw, 1rem);
}

.bottom {
    font-weight: 600;
    font-size: clamp(0rem, 1.7vw, 1.3rem);
    margin-top: 1vw; 
    display: flex;
    align-items: center;
}

.quantityButton {
    border: clamp(0rem, 0.5vw, 2.5px) solid #FFD814;
    border-radius: 2vw;
    display: flex;
    width: clamp(0rem, 8vw, 6rem);
    align-items: center;
    justify-content: space-between;
    padding: 0 clamp(0rem, 1vw, 0.5rem);
    margin-right: clamp(0rem, 1.5vw, 0.7rem);
}

.quantityButton button {
    all: unset;
    cursor: pointer;
}

#delete img {
    width: clamp(0rem, 1vw, 1rem);
    height: clamp(0rem, 1vw, 1rem);
}

.bottom p {
    padding: 0 clamp(0rem, 1.5vw, 0.7rem);
    border-left: 2px solid rgb(213, 213, 213);
    color: #2162A1;
}

.cartTotal {
    display: flex;
    flex-direction: column;
    gap: clamp(0rem, 2.2vw, 0.9rem);
}

.subtotal {
    background-color: white;
    padding: clamp(0rem, 2vw, 2rem) clamp(0rem, 1.4vw, 1.2rem);
    width: clamp(0rem, 28vw, 18rem);
}

#checkBox {
    display: flex;
    gap: 0.3vw;
    align-items: center;
    margin-top: clamp(0rem, 0.5vw, 0.2rem);
    margin-bottom: clamp(0rem, 1.3vw, 0.8rem);
}

.subtotal form {
    background-color: #FFD814;
    text-align: center;
    padding: clamp(0rem, 1vw, 0.6rem);
    border-radius: 3vw;
    margin-top: clamp(0rem, 1.5vw, 0.5rem);
}

.prime {
    background-color: white;
    width: clamp(0rem, 28vw, 18rem);
    border-radius: clamp(0rem, 1vw, 0.6rem);
    display: flex;
    padding: clamp(0rem, 1.4vw, 1.2rem);
    gap: clamp(0rem, 1.4vw, 1.2rem);
}

.primeLogo {
    border-radius: inherit;
    width: clamp(0rem, 6vw, 3rem);
}

.totalText {
    flex: 1;
}

.totalText form {
    border: 2px solid rgb(211, 211, 211);
    width: fit-content;
    padding: clamp(0rem, 0.5vw, 0.3rem) clamp(0rem, 1vw, 0.6rem);
    border-radius: 3vw;
    margin-top: clamp(0rem, 1.5vw, 0.5rem);
}

@media (min-width: 1000px) {
    #cartPage {
        flex-direction: row;
    }

    .cartItems {
        height: auto;
        flex: 1;
    }
}